@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Space+Mono&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 56px;
  color: #221D23;
}

p {
  font-family: 'Space Mono', monospace;
  color: #221D23;
}

.body-style {
  background-color: #F9DC5C;
}

.border-black {
  border: thin solid #221D23;
}

.sign-in {
  background-color: #F5F3F6;
}

.app-bar {
  background-color: #F5F3F6;
}

.app-bar-border {
  border-bottom: thin solid #221D23;
}

.btn-outline-dark:hover {
  color: #F5F3F6;
}

.balance {
  background-color: #F5F3F6;
}