@font-face {
  font-family: 'Press Start 2P';
  src: url('./assets/fonts/Press_Start_2P/PressStart2P-Regular.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Space Mono';
  src: url('./assets/fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body-style {
  background-color: #f9dc5c;
  font-family: 'Work Sans', sans-serif;
  color: #221d23;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 56px;
  color: #221d23;
}

h4 {
  font-family: 'Space Mono', monospace;
  color: #221d23;
}

p {
  font-family: 'Space Mono', monospace;
  color: #221d23;
}

.border-black {
  border: thin solid #221d23;
}

.sign-in {
  background-color: #f5f3f6;
}

.app-bar {
  background-color: #f5f3f6;
}

.app-bar-border {
  border-bottom: thin solid #221d23;
}

.btn-outline-dark:hover {
  color: #f5f3f6;
  background-color: #221d23;
}

.card-custom {
  background-color: #f5f3f6;
  box-shadow: 0.1rem 0.1rem #6c5c70;
}

.balance {
  font-size: 1.8rem;
  color: #3e92cc;
}

.linechart-style {
  font-family: 'Work Sans', sans-serif;
  color: #221d23;
}

@media screen and (max-width: 850px) {
  h1 {
    font-size: 42px;
  }
}
